#root{
  margin-top: 30px;
  margin:auto;
}


.cell{
  width:20px;
  height:20px;
  border:1px solid black;
  text-align: center;
  background-color: grey;
}

.revealed{
  background-color: lightgrey;
}

.cell-1{
  color:blue;
}
.cell-2{
  color:red;
}
.cell-3{
  color:green;
}
.cell-4{
  color:purple;
}
.cell-5{
  color:brown;
}
.cell-6{
  color:teal
}
.cell-7{
  color:darkgoldenrod
}
.cell-7{
  color:tomato
}

#minesweeper,#game,#app,#root{
  max-width: fit-content
}

.row{
  display:flex;
  max-width: fit-content
}